
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_JTable_Normal.cshtml";
}
<div id="customer" class="jtable"></div>
<script src="~/Scripts/views/customerView.js"></script>
<script>
    var view = new CustomerView();
</script>

