@using Baxter.Constants;
@using Baxter.Utilities;

@{
    ViewBag.Title = Resources.Global.General_Users;
    Layout = "~/Views/Shared/_JTable_Normal.cshtml";
}

<div id="userTable" class="jtable"></div>

<script src="~/Scripts/views/UserView.js"></script>
<script>
    var view = new UserView();
</script>