
@{
    ViewBag.Title = Resources.Global.General_Application;
    Layout = "~/Views/Shared/_JTable_Normal.cshtml";
}

<div id="applicationTable" class="jtable"></div>

<script src="~/Scripts/views/ApplicationView.js"></script>
<script>
    var view = new ApplicationView();
</script>
